<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<style>
			body { font-family: Arial, sans-serif; background-color: #f9f9f9;
			margin: 0; padding: 20px; } img { display: block; margin-right:
			auto; margin-left: auto; } h1, h2 { width: fit-content; color:
			#e63946; margin-left: auto; margin-right: auto; text-align: center;
			} p { width: fit-content; color: #333; line-height: 1.5;
			margin-left: auto; margin-right: auto; text-align: center; } strong
			{ margin-left: auto; margin-right: auto; } p + p { margin-bottom:
			4rem; }
		</style>
	</head>
	<body>
		<div style='padding: 20px'>
			<img
				width='200px'
				height='200px'
				src='https://namoricobucket.s3.us-east-2.amazonaws.com/public/logo.png'
				alt='Love loom logo'
			/>

			<h1>Thank You for Your Purchase!</h1>

			<p>Dear {{user}},</p>

			<p>
				Thank you for your recent purchase from
				<strong>LooveLoom</strong>! We’re thrilled to help you celebrate
				your love story. Your order has been successfully processed, and
				we can’t wait for you to enjoy your personalized page.
			</p>

			<h2>Set up your Love Story:</h2>
			<p>
				Use this special link to configure your page just the way you
				want to. Make sure you don't lose it!
			</p>

			<p>
				<a
					href='{{url}}'
					style='
						padding: 10px 20px;
						background-color: #dc143c;
						color: white;
						text-decoration: none;
						border-radius: 5px;
					'
				>
					Configure Your Loveloom
				</a>
			</p>

			<p>
				If you have any questions or need assistance, feel free to reach
				out to our support team at support@looveloom.com. We’re here to
				help!
			</p>

			<p>
				Thank you for choosing LooveLoom. We hope you cherish every
				moment!
			</p>

			<p>
				Warm regards,
				<strong>The LooveLoom Team</strong>
			</p>

			<p>
				If you believe you received this email in error,
				<a href='mailto://support@looveloom.com'>contact us</a>.
			</p>
		</div>
	</body>
</html>