<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			body {
				font-family: Arial, sans-serif;
				background-color: #f9f9f9;
				margin: 0;
				padding: 20px;
			}
			img {
				display: block;
				margin-right: auto;
				margin-left: auto;
			}
			h1,
			h2 {
				width: fit-content;
				color: #e63946;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			p {
				width: fit-content;
				color: #333;
				line-height: 1.5;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
			}
			strong {
				margin-left: auto;
				margin-right: auto;
			}

			.qr-code {
				width: fit-content;
				margin-left: auto;
				margin-right: auto;
			}

				p + p {
				margin-bottom: 4rem;
			}
		</style>
	</head>
	<body>
		<div style="width: 100%; padding: 20px">
			<img
				width="200px"
				height="200px"
				src="https://namoricobucket.s3.us-east-2.amazonaws.com/public/logo.png"
				alt="Love loom logo"
				style="margin-left: auto; margin-right: auto"
			/>

			<h1>Your Looveloom was created!</h1>

			<p>Dear {{user}},</p>

			<p>
				We’re thrilled to help you celebrate your love story. Your page
				has been successfully created - now share it with the world!
			</p>

			<h2>Access Your Love Story:</h2>
			<p>
				To view your personalized page, you can scan the QR code below
				or click the link below:
			</p>

			<div class="qr-code">
				<img src="{{qrcode}}" alt="Your QR Code" />
			</div>

			<strong>or</strong>

			<p>
				<a
					href="{{url}}"
					style="
						display: inline-block;
						padding: 10px 20px;
						background-color: #dc143c;
						color: white;
						text-decoration: none;
						border-radius: 5px;
					"
				>
					View your Loveloom
				</a>
			</p>

			<p>
				If you have any questions or need assistance, feel free to reach
				out to our support team at support@looveloom.com. We’re here to
				help!
			</p>

			<p>
				Thank you for choosing LooveLoom. We hope you cherish every
				moment!
			</p>

			<p>
				Warm regards,
				<strong>The LooveLoom Team</strong>
			</p>
		</div>
	</body>
</html>
